/* .home-contianer{
    background-color: #262d34;
    max-resolution: ;
} */

 .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
   .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #ff6934;
  }

  
.user-create-post{
    background-color: #262d34;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.user-create-post-dis{
    background-color: #2c353d;
    padding: 10px;
    border-radius: 10px;
    color: #7a839f;
    width: 80%;
}

.create-post-button{
    background-color: #ff6934;
    padding: 10px;
    border-radius: 10px;
    width: 120px;

    &:hover{
        background-color: #ff4401;
    }
}